.env
_ignore_*
/autonas 

# React build & coverage
**/node_modules/
/frontend/coverage

# Go build artifacts
*/bin/
*/build/
*/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test cache & coverage
*.test
*.out

# IDE/editor files
.vscode/
.idea/
*.swp
*.tmp