services:
  autonas:
    build: .
    image: autonas:local
    container_name: autonas
    ports:
      - 8080:8080
    environment:
      AUTONAS_CONFIG_FILES: "${CONFIG_FILES}" # list of the configuration files that will define what should be deployed
      # in case the config files are inside the repo, just use ${AUTONAS_WORKING_DIR}/config-file-name.yaml
      AUTONAS_CONFIG_REPO: "${CONFIG_REPO}" # URL of the git repo where configuration will be fetched
      AUTONAS_CRON_PERIOD: "${CRON_PERIOD}" # CRON expression of when sync should be done
      AUTONAS_SERVICES_DIR: "${SERVICES_DIR}" # directory where compose stacks will be stored
      AUTONAS_ADD_WRITE_PERM: "${ADD_WRITE_PERM}" # adding write permissions to pulled config files
      ENV: "${ENV}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${SERVICES_DIR}:${SERVICES_DIR} # path where compose stacks will be stored
      - ${CONFIG_PATH}:/config:ro # users could add more local config files (for machine specific fields)
    restart: "no"
