services:
  autonas:
    build: .
    image: autonas:local
    container_name: autonas
    ports:
      - 8080:5005
    env_file :
      - _ignore_.env # replace with your env_file or remove to use "".env"
    environment:
      AUTONAS_CONFIG_FILE: "/config.yaml" # the configuration file that will define what should be deployed
      AUTONAS_SERVICES_DIR: "${SERVICES_DIR}" # directory where compose stacks will be stored
      #AUTONAS_DISPLAY_CONFIG: true
      #AUTONAS_EDIT_CONFIG: true
      ENV: "${ENV}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${SERVICES_DIR}:${SERVICES_DIR} # path where compose stacks will be stored (must be equal & absolute)
      - ${AUTONAS_DATA_PATH}:/data # data for AUTONAS, like repository and DB
      - ${CONFIG_PATH}:/config.yaml # the file containing the configuration (it may be re-written by AUTONAS)
    restart: "no"
