name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  go:
    needs: generate-api
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24

      - name: Download backend API
        uses: actions/download-artifact@v4
        with:
          name: backend-api
          path: ./backend/api

      - name: Verify dependencies
        run: go mod verify

      - name: Build
        run: go build -v ./...
      - name: Run go vet
        run: go vet ./...

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: ./backend

      - name: Run tests
        run: go test -race -vet=off -coverprofile=coverage.out ./internal/...

      - name: Report results to DeepSource
        run: |
          curl https://deepsource.io/cli | sh
          ./bin/deepsource report --analyzer test-coverage --key go --value-file ./coverage.out

        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
